.logo {
  margin: 2.3rem 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.logoLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 4.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.logoLink:hover {
  filter: brightness(80%);
}
