.input {
  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);

  background-color: transparent;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 0.9rem;
  color: var(--text-default);
  outline: none;
  transition: all 0.1s ease-in-out;
}

.input:focus {
  border-radius: 0.8rem;
  border: 0.2rem solid var(--primary-light);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
  border-bottom: 0.2rem solid var(--disabled);
  color: var(--text-muted)
}
