.footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.4rem;
    font-size: 1.2rem;
}

.footer a {
    color: var(--text-default);
    text-decoration: none;

    transition: all .2s ease-in-out;
}

.footer a:hover {
    opacity: 0.7;
    text-decoration: underline;
}